{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
<table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Movie</th>
      </tr>
    </thead>
    <tbody>
    
        {% for i in list_movies %}
        <tr>
        <!-- <td>1</th> -->
        <td>{{list_movies[i]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
